<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=516867305&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:516867305:52" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>
