---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
    <!--Google搜索 Begin -->
    <script>
  (function() {
    var cx = '010001244541416956467:dy4pn-ebdjw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
    <!--Google搜索 End -->
  </div>
  <div class="col-md-12 aside3-content">
    {% include content.html %}
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>
    <!--
    disqus评论系统，现已不用
    {% include disqus.html %}
    -->
    {%  include uyan.html %}
  </div>
</div>

